<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Telerik UI for WinForms 2022.1.118" value="C:\Program Files (x86)\Progress\Telerik UI for WinForms R1 2022\Bin60\NuGet" />
    <add key="Telerik UI for WPF 2022.1.117" value="C:\Program Files (x86)\Progress\Telerik UI for WPF R1 2022\Binaries\WPF60\NuGet" />
  </packageSources>
</configuration>